body {
	color: white;
	background-color: rgb(25,25,25);
	margin: 0px;
	padding: 0;
	text-align: center;
}

a {
	color: #fff;
}

#container_osd {
	position: absolute;
	top: 0;
	left: 5%;
	width:90%;
	color: rgba(255, 255, 255, 0.75);
}

#server_adress {
	position: absolute;
	bottom: 50px;
	left: 5%;
	width:90%;
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.9em;
}

#lost_connectivity {
	position: absolute;
	top: 30%;
	left: 5%;
	width:90%;
	border:1px solid #fff;
	background-color: rgba(0, 0, 0, 0.75);
	font-size: 2em;
}

#WebGL {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	margin: 0;
	padding: 0;
}

#container_webgl {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	margin: 0;
	padding: 0;
}

#container_kinetic {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	margin: 0;
	padding: 0;
	z-index: 100;
}

.list-group{
	margin-bottom: 70px;
	color: #555;
}

.form-group{
	width: 75%;
}
